USE [csmportal]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMobileLog]    Script Date: 2/6/2026 8:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
ALTER   PROCEDURE [dbo].[UpdateMobileLog]  
 -- Add the parameters for the stored procedure here  
 @tennantid int,  
 @dt datetime,  
 @longitude varchar(50),  
 @userLogon nvarchar(20),  
 @action varchar(20),  
 @Latitude varchar(20),  
 @role nchar(10),  
 @eventid int,
 @Logid int   OUTPUT  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
    -- Insert statements for procedure here  
 Insert into dbo.ADV_MobilelAppLog (Tennantid, Dt,[Longitude], [Userlogon], [Action], [Latitude], [Role],[eventid])  
 VALUES (@TENNANTID, @DT, @lONGITUDE, @USERlogon ,@ACTION, @lATITUDE, @ROLE,@eventid);  
 set @logid = (select logid from dbo.ADV_MobilelAppLog  where tennantid = @tennantid and dt = @dt and userlogon =@userlogon) 
 
 ---- do not remove this my code  JRF
 declare @svr as nvarchar(50)
 declare @db varchar(50)
 declare @str nvarchar(max)
 declare @eventstatusid integer
 declare @usr varchar(20)
 set @usr = (select left(@userlogon,len(@userlogon)-3))
 if @role = 'Driver' 
begin
	   -- updates remote database 
	set @db =( select fdb from adv_tennant where tennantid = @tennantid)
	set @svr = 'bifrost.[' + @db +'].dbo.tblais_cs_events'
	
	if @action = 'Checkedin' 
	 begin
	   set @eventstatusid = 19
	  exec sp_remoteEventStatuschange @tennantid,  @eventid,@eventstatusid, @logid, @action

	 end

	 if @action = 'Checkedout' 
	 begin
	 	  set @eventstatusid = 30
	      exec sp_remoteEventStatuschange @tennantid, @eventid,  @eventstatusid, @logid, @action
	 end
	  if @action = 'CancelDropOff' 
	 begin
	   set @eventstatusid = 19
	      exec sp_remoteEventStatuschange @tennantid, @eventid,  @eventstatusid, @logid, @action
	 end

	 if @action = 'CancelALL' 
	 begin
	   set @eventstatusid = 1
	      exec sp_remoteEventStatuschange @tennantid, @eventid,  @eventstatusid, @logid, @action
	 end
	 if @action = 'NoShow' 
	 begin
	   set @eventstatusid = 21
	      exec sp_remoteEventStatuschange @tennantid,  @eventid, @eventstatusid, @logid, @action
	 end     
end
	-- update adv tables
if @role ='User'
	begin
	if @action = 'CancelALL'
	begin
	    update adv_events set [action] = @action , eventstatus = 1, starttime = null ,[StartLatitude] = '', [StartLongitue] = '', lastupdateuser = @usr where webeventid = @eventid

	end
	if @action = 'started'
	begin
	    update adv_events set [action] = @action , eventstatus = 14, starttime = @dt ,[StartLatitude] = @Latitude, [StartLongitue] = @longitude, lastupdateuser = @usr where webeventid = @eventid

	end

	if @action = 'completed' 
	begin
	  update adv_events set [action] = @action , eventstatus = 16, endtime = @dt ,[StopLatitude] = @Latitude, [StopLongitue] = @longitude, lastupdateuser = @usr where webeventid = @eventid

	end
	if @action = 'NoShow' 
	begin
	  update adv_events set [action] = @action , eventstatus = 21,  lastupdateuser = @usr where webeventid = @eventid

	end
end
END  
